{% extends 'base.html.twig' %}

{% block title %}Create a new project{% endblock %}

{% block topbuttons %}
    <a class="btn btn-dark" , href="{{ path('app_mainscreen') }}">Back</a>
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}


    <div class="container">
        <div class="row">
            <div class="col-md justify-content-center my-5">
                {{ form_start(post_form, {'attr': {'id': 'NewProjectId'}}) }}
                {{ form(post_form) }}
                {{ form_end(post_form) }}
            </div>
        </div>
    </div>

{% endblock %}
