{% extends 'base.html.twig' %}

{% block title %}Change this hour entry{% endblock %}

{% block topbuttons %}
    <a class="btn btn-dark" href="{{ path('app_project', { projectId: projectId }) }}">Back</a>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-5 justify-content-center my-5 justify-content-center text-center">
                {{ form_start(hours_form, {'attr': {'id': 'ModHoursId'} } ) }}
                {{ form(hours_form) }}
                {{ form_end(hours_form) }}
            </div>
        </div>
    </div>

{% endblock %}


