{% extends 'base.html.twig' %}

{% block title %}
    Editing {{ projectName }}
{% endblock %}

{% block topbuttons %}
    <a class="btn btn-dark"  href="{{ path('app_project', {projectId : projectId}) }}">Back</a>
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}


<div class="container justify-content-center" id="LocalProject">
    <div class="row justify-content-center mx-5 mt-3">
        <div class="col-lg-11 d-flex align-items-center flex-column rounded dark">
            <div class="col-md justify-content-center mt-4 mb-3">
                {{ form_start(name_form, {'attr': {'id': 'NewProjectId', 'class': 'text-light'}}) }}
                {{ form(name_form) }}
                {{ form_end(name_form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
